<nav class="tabs">
  <div class="division">
    <div class="navigation">
      <button routerLink="tab-0" class="tab_btn" routerLinkActive="active">Icon</button>
      <button routerLink="tab-1" class="tab_btn" routerLinkActive="active">Explore</button>
      <button routerLink="tab-2" class="tab_btn" routerLinkActive="active">Roadmaps</button>
      <button routerLink="tab-3" class="tab_btn" routerLinkActive="active">Pro</button>  
    </div>

    <div class="options">
      <button (click)="toggleTheme()">
        <span [ngClass]="{ 'light': this.isLightTheme() }" *ngIf="this.isLightTheme()" class="material-symbols-outlined">brightness_7</span>
        <span [ngClass]="{ 'dark': this.isDarkTheme() }" *ngIf="this.isDarkTheme()" class="material-symbols-outlined">dark_mode</span>
      </button>

      <button class="margin_left" mat-raised-button>Sign in</button>

    </div>
  </div>
</nav>

<main [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main>