<nav class="tabs">
  <div class="division">
    <div class="navigation">
      <button routerLink="tab-0" class="tab_btn" routerLinkActive="active">Icon</button>
      <button routerLink="tab-1" class="tab_btn" routerLinkActive="active">Explore</button>
      <button routerLink="tab-2" class="tab_btn" routerLinkActive="active">Roadmaps</button>
      <button routerLink="tab-3" class="tab_btn" routerLinkActive="active">Pro</button>  
    </div>

    <div class="options">
      <button (click)="toggleTheme()">
        <span [ngClass]="{ 'light_mode': this.themeService.getCurrentTheme() !== 'dark' }" *ngIf="this.themeService.getCurrentTheme() !== 'dark';" class="material-symbols-outlined">brightness_7</span>
        <span [ngClass]="{ 'night_mode': this.themeService.getCurrentTheme() === 'dark' }" *ngIf="this.themeService.getCurrentTheme() === 'dark';" class="material-symbols-outlined">dark_mode</span>
      </button>
      <button class="sign_in">
        <p>Sign in</p>
      </button>
    </div>
  </div>
</nav>

<main [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main>