<nav class="navbar">
  <div class="navbar_menu">
    <div class="navbar_start">
      <div class="navbar_item">
        <a routerLink="/tab-1" class="navbar_link">
          Left Page
        </a>
      </div>
    </div>

    <div class="navbar_start">
      <div class="navbar_item">
        <a routerLink="/tab-2" class="navbar_link">
          About
        </a>
      </div>
    </div>

    <div class="navbar_start">
      <div class="navbar_item">
        <a routerLink="/tab-3" class="navbar_link">
          Right Page
        </a>
      </div>
    </div>
  </div>
</nav>

<main [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main>