/* Apply styles to the mat-form-field and its children */
.input mat-form-field,
.input mat-label,
.input input.mat-input,
.input mat-error {
  font-size: 14px;
}

/* Apply font size to the text being inserted */
.input input.mat-input {
  font-size: 12px;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.login_message > * {
  margin-top: 20px;
  margin-bottom: 10px;
}

.input {
  font-size: 12px;
  width: 400px;
}

/* Style the footer section */

footer {
  margin-top: 20px;
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer Buttons */


.top {
  margin-top: 20px;
}

/* Icons */

.login_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login_icons img {
  max-width: 24px;
}

.icons_button {
  width: 25%;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #aaaaaa;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; 
  background: #003a78;
}

.icons_button:hover {
  transform: scale(1.05); 
  background: #242424;
}

.login_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.login_icons {
  margin-top: 20px;
}
